{{!-- 
  Form wrapper
  @classNames (string): additional classes for form element
  @dataAction (string): text for data-action attribute
  @errorText (string): error message
  @isRow (boolean): show forum content as column or row
--}}
<form class="form-wrapper{{#if isRow}} row{{else}} column{{/if}}{{#if classNames}} {{classNames}}{{/if}}" data-action="{{dataAction}}">
  <div class="form-wrapper-partial">
    {{> @partial-block}}
  </div>
  <div class="form-wrapper-error" form-wrapper-error form-default-error-message="{{errorText}}">
    {{errorText}}
  </div>
</form>